/* Color Theme Swatches in Hex 
.Voodoo-1-hex {
  color: #af1444;
}
.Voodoo-2-hex {
  color: #d91e41;
}
.Voodoo-3-hex {
  color: #ecc01d;
}
.Voodoo-4-hex {
  color: #039675;
}
.Voodoo-5-hex {
  color: #2f426c;
}

/* Color Theme Swatches in RGBA 
.Voodoo-1-rgba {
  color: rgba(175, 20, 68, 1);
}
.Voodoo-2-rgba {
  color: rgba(216, 29, 65, 1);
}
.Voodoo-3-rgba {
  color: rgba(235, 191, 28, 1);
}
.Voodoo-4-rgba {
  color: rgba(2, 149, 117, 1);
}
.Voodoo-5-rgba {
  color: rgba(47, 66, 107, 1);
}

/* Color Theme Swatches in HSLA 
.Voodoo-1-hsla {
  color: hsla(341, 79, 38, 1);
}
.Voodoo-2-hsla {
  color: hsla(348, 75, 48, 1);
}
.Voodoo-3-hsla {
  color: hsla(47, 84, 51, 1);
}
.Voodoo-4-hsla {
  color: hsla(166, 96, 29, 1);
}
.Voodoo-5-hsla {
  color: hsla(221, 39, 30, 1);
}*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
}
h1 {
  text-align: center;
  font-size: 80px;
  text-transform: uppercase;
}
img {
  max-width: 100%;
  display: block;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #282a36;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  padding: 5px;
  /* background-color: yellowgreen; */
  border-radius: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap; /*Com esse comando  o elemento vai poder fazre uma  quebra qando diminuir a tela da página*/
  max-width: 1200px;
  margin: 0 auto;
}

.flex > div {
  flex: 1 1 350px;
  margin: 5px;
  text-align: center;
  border-radius: 10px;

  background-color: rgb(253, 253, 253);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.flex div img {
  margin-top: 10px;
}

/*Footer*/
.footer {
  width: 100%;
  height: 100px;
  background-color: #282a36;
  margin-top: 50px;
}
